@model PizzaPointApplication.ViewModels.OrderedPizzaWithTopping
@{
    ViewData["Title"] = "Order Details";
}

<h2>Order Description : </h2>
<div>
    <h3>@Model.Description</h3>
</div>
<h2>Total Order Price : </h2>
<div>
    <h3>@Model.Price</h3>
</div>
